.container-fluid {
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
  background-color: #f0f0f0;
}

.form-control.custom-border {
  border: none;
  border-bottom: 1px solid #c0c0c0;
}

.form-control.custom-border:focus {
  border-bottom: 1px solid #0b5e64;
}
