:root,
[data-bs-theme="light"] {
  --bs-body-bg: #e9e7e8;

  --bs-heading-color: #444;
  --bs-link-color: #333;
  --bs-link-hover-color: #1a897a;

  --bs-primary: #3ba27e;

  --bs-secondary: #7f4d3e;

  --bs-secondary-rgb: #e0e0e0;
  --bs-danger: #f07b61;

  --bs-border-color: #3ba27e;
  --bs-success: #21af98;

  --text-color: #333;
  --placeholder-color: #999;

  .pagination .page-item.active .page-link {
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
  }
  .pagination .page-item .page-link:focus {
    box-shadow: none;
  }

  header,
  footer {
    background-color: var(--bs-secondary-rgb);

    p {
      color: var(--bs-primary);
    }
  }

  .btn-primary {
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);

    &:hover {
      background-color: var(--bs-primary);
    }
  }

  .btn-secondary {
    background-color: var(--bs-secondary);
    border-color: var(--bs-secondary);
  }

  .btn-success {
    background-color: var(--bs-success);
    border-color: var(--bs-success);
  }

  .btn-danger {
    background-color: var(--bs-danger);
    border-color: var(--bs-danger);
  }

  .form-control {
    border-color: var(--bs-primary);
    box-shadow: none;
    color: var(--text-color);

    &::placeholder {
      color: var(--placeholder-color);
    }
  }

  .form-check-input {
    border-color: var(--bs-primary);
    background-color: #fff;
    &:checked {
      border-color: var(--bs-primary);
      background-color: var(--bs-primary);
    }

    &:focus {
      box-shadow: none;
    }
  }

  .dropdown-menu {
    --bs-dropdown-link-active-bg: var(--bs-primary);
  }

  .nav-pills {
    --bs-nav-pills-link-active-bg: var(--bs-primary);
  }

  .navbar-brand {
    --bs-navbar-brand-color: var(--bs-primary);
    --bs-navbar-brand-hover-color: var(--bs-primary);
  }
  .bi-moon-stars,
  .bi-moon-stars-fill,
  .bi-list {
    color: var(--bs-link-hover-color);
  }
}

:root,
[data-bs-theme="dark"] {
  --bs-link-color: #fff;
  --bs-secondary-rgb: #212529;
  --bs-link-hover-color: #3ba27e;
  --text-color: #fff;

  --tabs-link-color: #333;

  .nav-tabs .nav-link:not(.active) {
    color: var(--tabs-link-color);
    cursor: pointer;
  }
}
