$light-bg-color: #f0f0f0;
$light-color: #075985;
$light-hover-color: #054060;
$light-btn-text-color: #fff;
$light-link-color: #075985;

$dark-bg-color: #262626;
$dark-color: #9a5f6e;
$dark-hover-color: #9c5365;
$dark-btn-text-color: #fff;
$dark-link-color: #fff;

$transition-duration: 0.3s;

$input-focus-box-shadow: none;

.transition {
  transition: all $transition-duration ease;
}

[data-bs-theme="light"] {
  --bs-navbar-color: #{$light-bg-color};

  .offcanvas {
    --bs-offcanvas-bg: #{$light-color};
  }

  .dropdown-menu {
    --bs-dropdown-link-active-bg: #{$light-hover-color};
  }

  .nav {
    --bs-nav-link-color: #{$light-link-color};
    --bs-nav-link-hover-color: #{$light-hover-color};
  }

  .nav-pills {
    --bs-nav-pills-link-active-bg: #{$light-hover-color};
  }

  .navbar-brand {
    --bs-navbar-brand-color: #{$light-color};
    --bs-navbar-brand-hover-color: #{$light-color};
  }

  header {
    background-color: var(--bs-navbar-color);
    @extend .transition;
  }

  .btn-primary {
    --bs-btn-bg: #{$light-color};
    --bs-btn-hover-bg: #{$light-hover-color};
    --bs-btn-color: #{$light-btn-text-color};
    --bs-btn-active-bg: #{$light-hover-color};
    --bs-btn-border-color: none;
  }

  .bi-moon-stars-fill,
  .bi-list {
    color: #{$light-color};
  }

  .table thead th {
    background-color: #{$light-hover-color};
  }

  .form-control {
    $input-focus-border-color: #{$light-color};

    box-shadow: $input-focus-box-shadow;

    &:focus {
      border-color: $input-focus-border-color;
    }
  }

  table th {
    color: #{$light-btn-text-color};
  }

  footer {
    background-color: #{$light-hover-color};

    a {
      color: #{$light-btn-text-color};
    }

    @extend .transition;
    .text-center {
      color: #{$light-btn-text-color};
    }
  }
}

[data-bs-theme="dark"] {
  --bs-navbar-color: #{$dark-bg-color};

  .offcanvas {
    --bs-offcanvas-bg: #{$dark-bg-color};
  }

  .dropdown-menu {
    --bs-dropdown-link-active-bg: #{$dark-hover-color};
  }

  .nav {
    --bs-nav-link-color: #{$dark-link-color};
    --bs-nav-link-hover-color: #{$dark-hover-color};
  }

  .nav-pills {
    --bs-nav-pills-link-active-bg: #{$dark-hover-color};
  }

  .navbar-brand {
    --bs-navbar-brand-color: #{$dark-color};
    --bs-navbar-brand-hover-color: #{$dark-color};
  }

  header {
    background-color: var(--bs-navbar-color);
    @extend .transition;
  }

  .btn-primary {
    --bs-btn-bg: #{$dark-color};
    --bs-btn-hover-bg: #{$dark-hover-color};
    --bs-btn-color: #{$dark-btn-text-color};
    --bs-btn-active-bg: #{$dark-hover-color};
    --bs-btn-border-color: none;
  }

  .bi-moon-stars-fill,
  .bi-list {
    color: #{$dark-color};
  }

  .table thead th {
    background-color: #{$dark-hover-color};
  }

  .form-control {
    $input-focus-border-color: #{$dark-color};

    box-shadow: $input-focus-box-shadow;

    &:focus {
      border-color: $input-focus-border-color;
    }
  }

  .form-check-input {
    $form-check-input-bg: #{$dark-hover-color};
    $form-check-input-border: #{$dark-hover-color};
    background-color: $form-check-input-bg;
    border-color: $form-check-input-border;
  }

  footer {
    background-color: var(--bs-navbar-color);

    @extend .transition;
    .text-center {
      color: #{$dark-link-color};
    }
  }
}
